@import "header";
@import "main";
@import "footer";
@import "variables";

.contenedor-fluid {
    overflow-x: none;
}

.fixed {
    position: fixed;
    transition: all 0,3;
    bottom: 0px;
    right: 0px;
    width: 120px;
    border-radius: 30px;
    
    &:hover {
        width: 200px;
        height: 150px;
    }
 }

 @media screen and (max-width:990px ) {
    .tituloIndex {
        display: none;
    }
 }